@import 'theme/container';
@import 'theme/flex';
@import 'theme/headings';
@import 'theme/variables';
@import 'theme/keyframes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    font-size: 16px;
    color: @global-darkgray-color;
    font-family: @global-font-family;
    line-height: 1.4;
}

body {
    background: @background-100;
}

.header {
    padding-top: 35px;
    padding-bottom: 35px;
}

.theme-section {
    min-height: calc(100vh - 107.7px);
}

.cursor,
.pointer {
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
}

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid @global-darkgray-color;
    transform: translate(-50%, -50%);
    
}

.pointer {
    width: 6px;
    height: 6px;
    background: darken(@global-darkgray-color, 20%);
    transition: width, height, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.cursor.on-screen,
.pointer.on-screen {
    opacity: 1;
}

.cursor.hover-effect {
    opacity: 0;
}

.pointer.hover-effect {
    width: 70px;
    height: 70px;
    opacity: 0.4;
    transition-property: width, height, opacity;
    transition-duration: 0.3s;
}

// .pointer-hover {
//     position: fixed;
//     background: darken(@global-darkgray-color, 20%);
//     pointer-events: none;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//     width: 0;
//     height: 0;
//     opacity: 0;

//     &.inactive {
//         width: 0;
//         height: 0;
//         opacity: 0;
//     }

//     &.active {
//         width: 70px;
//         height: 70px;
//         opacity: 0.4;
//         transition-property: width, height, opacity;
//         transition-duration: 0.5s;
//     }

// }
