@import "theme/*.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    font-size: 16px;
    color: @global-darkgray-color;
    font-family: @global-font-family;
    line-height: 1.4;
}

body {
    background: @background-100;
}

.panel {
    position: relative;
}

img {
    display: block;
}

.header {
    padding-top: 35px;
    padding-bottom: 35px;
}

.theme-section {
    min-height: 100vh;
    
    &.welcome-section {
        min-height: calc(100vh - 107.7px);
    }

}

.welcome-section {

    .welcome-img {
        max-height: calc(100vh - 107.7px);
    }

}